div.normal {
    font-size: 1vw;
    background-position:  0px 2000px;
    text-align: left;
    position: relative; left: 5px; top: 80px; 
}

.breaking{    
    width: 100%;
    overflow: hidden;
}

ion-card {
    margin-top: auto;
}